@font-face {
    font-family: "Norse-Bold";
    src: url("fonts/Norse-Bold.otf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-image {
    height: 100vh;
    min-width: 500px;
    background-image: url("/img/photo-1585202900225-6d3ac20a6962.avif");
    position: relative;
}

.odin-logo {
    position: absolute;
    top: 185px;
    width: 100%;
    z-index: 1;
    color: white;
    font-family: "Norse-bold", serif;
    font-size: 2em;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

.odin-logo img {
    width: 100px;
    flex: 0 1 1;
    display: inline-block;
    vertical-align:bottom;
}

#odin-logo-text {
    display: inline-block;
    font-size: 3em;
    margin: 10px;
}

h1 {
    font-size: 1.4em;
    font-weight: 600;
}

.container {
    display: flex;
    background-color: #f9fafb;
}


#headSection {
    padding-bottom: 50px;
}

#headSection > h1:first-child {
    margin-bottom: 30px;
}

#formSection {
    padding-top: 20px; 
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 10px 5px 5px #dddede;
}

#loginSection {
    padding-top: 50px;
}

.content > section {
    padding-left: 40px;
    padding-right: 150px;
}

.content > section:first-child {
    padding-top: 150px;
}

.formElement {
    margin-bottom: 20px;
}

.formElement > *{
    display: flex;
    flex-direction: column;
}

.formLine {
    display: flex;
    gap: 50px;
}

form legend {
    margin-bottom: 25px;
    font-size: 1.5em;
    font-weight: 500;
}

label {
    font-size: .8em;
    font-weight: 500;
    color: #1f2937;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    height: 30px;
    width: 200px;
}

input:focus {
    border-color: blue;
    outline: none;
}

input:invalid {
    border-color: red;
}

#btn-submit {
    background-color: #596D48;
    color: white;
    padding: 15px 50px;
    border-radius: 10px;
    border: 0;
    font-weight: 600;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    font-weight: 600;
}

a:link {
    color: #596D48;
}

a:visited {
    color: #596D48;
}

#loginSection p {
    margin-top: 40px;
}
